.button {
  border: none;
  padding: 2px;
  background: #5267ff;
  font-size: 60 px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  height: 40px;
  width: 130px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.button:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
:active {
  color: black;
}
